*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: hsl(36, 100%, 99%);
    padding: 3rem 5%;
}
header{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-bottom: 3rem;
    }
    ul{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    }
    ul a{
    text-decoration: none;
    color:  hsl(233, 8%, 79%);
    }
    li{
    list-style-type: none;
    }
    li:hover a{
        text-decoration: underline solid 2px hsl;
        color: hsl(240, 100%, 5%);
    }
    .nav{
        width: 35%;
    }
    input[type="checkbox"] {
        display: none;
      }
      
      .hamburger {
        display: none;
        cursor: pointer;
        user-select: none;
        position: relative;
        z-index: 3;
      }
      
      .line {
        display: block;
        width: 50px;
        height: 3px;
        background-color: #000;
        border-radius: 200px;
        transition: all 0.5s ease-out;
      }
      
      .line:not(:last-child) {
        margin-bottom: 5px;
      }
    @media screen and (max-width:700px) {
        .nav-menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 100px;
            width: 40%;
            height: 100vh;
        }
        .nav {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 100%;
            background: rgba(245, 238, 235, 1);
            transition: all 0.5s ease-out;
            z-index: 1;
        }
        input[type="checkbox"]:checked ~ .nav {
            left: 20%;
          }
        
          input[type="checkbox"]:checked ~ .hamburger .line:first-child {
            transform: translateY(4px) rotate(135deg);
          }
        
          input[type="checkbox"]:checked ~ .hamburger .line:nth-child(2) {
            display: none;
          }
        
          input[type="checkbox"]:checked ~ .hamburger .line:nth-child(3) {
            transform: translateY(-4px) rotate(-135deg);
          }
          .hamburger {
            display: block;
        }
    }   
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
    }
    .img{
        display: block;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .drop{
        background-color: hsl(240, 100%, 5%);
        grid-row: 1 / 3;
        grid-column-start: 3;
        grid-column-end: 4;
        padding: 2rem;
    }
    .drop h1{
        color:  hsl(35, 77%, 62%);
        font-size: 3.5rem;
        padding-bottom: 1.5rem;
    }
    .new-dropdown{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .new h3{
        color:  hsl(233, 8%, 79%);
    }
    .new p{
        color:  hsl(236, 13%, 42%);
        padding: 1.5rem 0;
        line-height: 2rem;
    }
    hr{
        margin-bottom: 2rem;
        border-bottom: 1px solid hsl(236, 13%, 42%);
        width: 100%;
    }
    .web3{
        font-size: 2.1rem;
        font-weight: 800;
    }
    .web3 a{
        color: #000;
    }
    .p-button p{
        color:  hsl(236, 13%, 42%);
        font-size: 1.2rem;
        padding-top: .5rem;
        padding-bottom: 25%;
    }
    .p-button button{
        background-color: hsl(5, 85%, 63%);
        padding: 1rem 2rem;
        border: 1px solid hsl(5, 85%, 63%);
        color: #fff;
    }
    .p-button button:hover{
        background-color: hsl(36, 100%, 99%);
        color: hsl(5, 85%, 63%);
    }
    .trends{
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
    .story h3{
        font-size: 1.5rem;
        color:  hsl(233, 8%, 79%);
    }
    .a{
        color: hsl(233, 8%, 79%);
    }
    .p{
        padding: .5rem 0;
        color: #000;
        font-weight: 700;
    }
    a{
        text-decoration: none;
    }
    .img-mob{
        display: none;
    }
    @media screen and (max-width:550px){
        .img-mob{
            display: block;
        }
        .img{
            display: none;
        }
        .grid-container{
            display: flex;
            flex-direction:column ;
        }
    }